<section class="about-us">
  <div class="about-me-cont container">
    <h1 class="unlocked-title" aria-hidden="true"></h1>
    <div class="container-story">
      <h2 class="story">
        I work with people all over the world to create impressive and
        <span class="accent accent-red">functional</span>
        <span class="accent accent-gray">websites</span> that reflect each
        client's unique personality.
      </h2>
    </div>
    <div class="photo-box"></div>
    <ul class="accordion">
      <li class="accordion-item">
        <div class="acord-line">
          <h2 class="title-accordion">ABOUT ME</h2>
          <button class="ac-btn-up hidden" type="button">
            <svg class="ac-arrow-up" width="20" height="20">
              <use href="../img/svg/icons.svg#icon-keyboard_arrow_up"></use>
            </svg>
          </button>

          <button class="ac-btn-down" type="button">
            <svg class="ac-arrow-down" width="20" height="20">
              <use href="../img/svg/icons.svg#icon-keyboard_arrow_down"></use>
            </svg>
          </button>
        </div>
        <div class="acord-panel">
          <p class="dscp-accordion">
            I am Lloyd Jefferson, a talented programmer with extensive expertise
            in software development. I have an understanding of different
            programming languages​ ​and technologies, always ready to improve my
            skills. I always follow the latest trends and look for
            unconventional, creative solutions to problems. I have a high level
            of analytical skills and am able to effectively solve even the most
            difficult tasks encountered on the way.
          </p>
          <p class="dscp-accordion">
            Able to work both independently and in a team. I can effectively
            cooperate with colleagues, exchanging ideas and finding optimal
            solutions. Professional maturity allows you to calmly cope with
            challenges and stressful situations, while maintaining a high
            quality of work.I am always looking for opportunities for
            self-improvement. I actively study new technologies and practices to
            stay abreast of the latest innovations. I have a strong
            understanding of various programming languages, frameworks and
            architectural concepts that allow me to create efficient and
            scalable software.
          </p>
        </div>
      </li>
      <li class="accordion-item">
        <h2 class="title-accordion">ROLE</h2>
        <button class="ac-btn-up hidden" type="button">
          <svg class="ac-arrow-up" width="20" height="20">
            <use href="../img/svg/icons.svg#icon-keyboard_arrow_up"></use>
          </svg>
        </button>

        <button class="ac-btn-down" type="button">
          <svg class="ac-arrow-down" width="20" height="20">
            <use href="../img/svg/icons.svg#icon-keyboard_arrow_down"></use>
          </svg>
        </button>
        <div class="acord-panel">
          <ul>
            <li class="dscp-accordion-item">Frontend development</li>
            <li class="dscp-accordion-item">HeadlessCMS,Wordpress</li>
            <li class="dscp-accordion-item">Blender(enjoy)</li>
          </ul>
        </div>
      </li>
      <li class="accordion-item">
        <h2 class="title-accordion">EDUCATION</h2>
        <button class="ac-btn-up hidden" type="button">
          <svg class="ac-arrow-up" width="20" height="20">
            <use href="../img/svg/icons.svg#icon-keyboard_arrow_up"></use>
          </svg>
        </button>

        <button class="ac-btn-down" type="button">
          <svg class="ac-arrow-down" width="20" height="20">
            <use href="../img/svg/icons.svg#icon-keyboard_arrow_down"></use>
          </svg>
        </button>
        <div class="acord-panel">
          <ul>
            <li class="dscp-accordion-item">
              2018 - 2019 / Frontend Development Diploma, GoIT IT School, New
              York
            </li>
            <li class="dscp-accordion-item">
              2019 - 2020 / Advanced Web Development Certificate, GoIT IT
              School, New York
            </li>
            <li class="dscp-accordion-item">
              2020 - 2022 / Advanced Blender Animation Techniques, Udemy
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</section>
