<section class="about-us">
  <div class="container">
    <h1 aria-hidden="true"></h1>
    <div class="aboutus-wrap-story">
      <div class="aboutus-container-story-descr">
        <h2 class="aboutus-story">
          I work with people all over the world to create impressive and
          <span class="aboutus-accent aboutus-accent-red">functional</span>
          <span class="aboutus-accent aboutus-accent-gray">websites</span> that
          reflect each client's unique personality.
        </h2>
      </div>
      <div class="aboutus-photo-box"></div>
    </div>
    <ul class="aboutus-accordion accordion">
      <li class="aboutus-accordion-item">
        <h2 class="aboutus-title-accordion">ABOUT ME</h2>
        <button class="aboutus-accord-btn-up" type="button">
          <svg class="aboutus-accord-arrow-up" id="svg" width="20" height="20">
            <use href="./img/svg/icons.svg#icon-keyboard_arrow_up"></use>
          </svg>
        </button>

        <button class="aboutus-accord-btn-down hidden" type="button">
          <svg
            class="aboutus-accord-arrow-down"
            id="svg"
            width="20"
            height="20"
          >
            <use href="./img/svg/icons.svg#icon-keyboard_arrow_down"></use>
          </svg>
        </button>

        <div class="aboutus-accord-dropdown">
          <p class="aboutus-dscr-accordion">
            I am Lloyd Jefferson, a talented programmer with extensive expertise
            in software development. I have an understanding of different
            programming languages​ ​and technologies, always ready to improve my
            skills. I always follow the latest trends and look for
            unconventional, creative solutions to problems. I have a high level
            of analytical skills and am able to effectively solve even the most
            difficult tasks encountered on the way.
          </p>
          <p class="aboutus-dscr-accordion">
            Able to work both independently and in a team. I can effectively
            cooperate with colleagues, exchanging ideas and finding optimal
            solutions. Professional maturity allows you to calmly cope with
            challenges and stressful situations, while maintaining a high
            quality of work.I am always looking for opportunities for
            self-improvement. I actively study new technologies and practices to
            stay abreast of the latest innovations. I have a strong
            understanding of various programming languages, frameworks and
            architectural concepts that allow me to create efficient and
            scalable software.
          </p>
        </div>
      </li>
      <li class="aboutus-accordion-item">
        <h2 class="aboutus-title-accordion">ROLE</h2>
        <button class="aboutus-accord-btn-up hidden" type="button">
          <svg class="aboutus-accord-arrow-up" id="svg" width="20" height="20">
            <use href="./img/svg/icons.svg#icon-keyboard_arrow_up"></use>
          </svg>
        </button>

        <button class="aboutus-accord-btn-down" type="button">
          <svg
            class="aboutus-accord-arrow-down"
            id="svg"
            width="20"
            height="20"
          >
            <use href="./img/svg/icons.svg#icon-keyboard_arrow_down"></use>
          </svg>
        </button>
        <div class="aboutus-accord-dropdown hidden">
          <ul class="aboutus-accordion-list">
            <li class="aboutus-dscr-accordion-item">Frontend development</li>
            <li class="aboutus-dscr-accordion-item">HeadlessCMS,Wordpress</li>
            <li class="aboutus-dscr-accordion-item">Blender(enjoy)</li>
          </ul>
        </div>
      </li>
      <li class="aboutus-accordion-item">
        <h2 class="aboutus-title-accordion">EDUCATION</h2>
        <button class="aboutus-accord-btn-up hidden" type="button">
          <svg class="aboutus-accord-arrow-up" id="svg" width="20" height="20">
            <use href="./img/svg/icons.svg#icon-keyboard_arrow_up"></use>
          </svg>
        </button>

        <button class="aboutus-accord-btn-down" type="button">
          <svg
            class="aboutus-accord-arrow-down"
            id="svg"
            width="20"
            height="20"
          >
            <use href="./img/svg/icons.svg#icon-keyboard_arrow_down"></use>
          </svg>
        </button>
        <div class="aboutus-accord-dropdown hidden">
          <ul class="aboutus-accordion-list">
            <li class="aboutus-dscr-accordion-item">
              2018 - 2019 / Frontend Development Diploma, GoIT IT School, New
              York
            </li>
            <li class="aboutus-dscr-accordion-item">
              2019 - 2020 / Advanced Web Development Certificate, GoIT IT
              School, New York
            </li>
            <li class="aboutus-dscr-accordion-item">
              2020 - 2022 / Advanced Blender Animation Techniques, Udemy
            </li>
          </ul>
        </div>
      </li>
    </ul>
    <div class="aboutus-container-skills">
      <div class="aboutus-skills-swiper swiper">
        <ul class="swiper-wrapper">
          <div class="aboutus-skills-circle swiper-slide" id="swiper-slide">
            <li class="aboutus-skills-item" id="1">HTML/CSS</li>
          </div>

          <div class="aboutus-skills-circle swiper-slide" id="swiper-slide">
            <li class="aboutus-skills-item" id="2">JavaScript</li>
          </div>
          <div class="aboutus-skills-circle swiper-slide" id="swiper-slide">
            <li class="aboutus-skills-item" id="3">React</li>
          </div>
          <div class="aboutus-skills-circle swiper-slide" id="swiper-slide">
            <li class="aboutus-skills-item" id="4">Node.js</li>
          </div>
          <div class="aboutus-skills-circle swiper-slide" id="swiper-slide">
            <li class="aboutus-skills-item" id="5">React Native</li>
          </div>
          <div class="aboutus-skills-circle swiper-slide" id="swiper-slide">
            <li class="aboutus-skills-item" id="6">Soft skills</li>
          </div>
        </ul>
      </div>

      <button class="swiper-button-next aboutus-skills-btn" type="button">
        <svg class="aboutus-skills-btn-icon" width="40" height="40">
          <use href="./img/svg/icons.svg#icon-arrow-right"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
