<section class="covers">
  <div class="container covers-container">
    <h2 class="visually-hidden covers-name">Covers</h2>
    <div class="content">
      <ul id="covers-list">
        <li class="covers_inner">
          <img
            class="covers_line"
            src="../img/covers/covers-nature.png"
            alt="a brand that is inspired by forms creates by nature."
            width="282"
            height="162"
          />
        </li>
        <li class="covers__inner">
          <img
            class="covers__line"
            src="../img/covers/covers-bodytransforming.png"
            alt="Transforming your body shape with Power Pulse"
            width="282"
            height="162"
          />
        </li>
        <li class="covers__inner">
          <img
            class="covers__line"
            src="../img/covers/covers-mimino.png"
            alt="Mimino"
            width="282"
            height="162"
          />
        </li>
        <li class="covers__inner">
          <img
            class="covers__line"
            src="../img/covers/covers-finance.png"
            alt="Manage Your Finances Masterfully!"
            width="282"
            height="162"
          />
        </li>
        <li class="covers__inner">
          <img
            class="covers__line"
            src="../img/covers/covers-finance.png"
            alt="Welcome to our collection of premium watches"
            width="282"
            height="162"
          />
        </li>
        <li class="covers__inner">
          <img
            class="covers__line"
            src="../img/covers/covers-ukraine.png"
            alt="Reviving the traditional Ukrainian artistry in every stitch"
            width="282"
            height="162"
          />
        </li>
        <li class="covers__inner">
          <img
            class="covers__line"
            src="../img/covers/covers-organicfood.png"
            alt="Organic vegetables to your diet today!"
            width="282"
            height="162"
          />
        </li>
        <li class="covers__inner">
          <img
            class="covers__line"
            src="../img/covers/covers-bodyinshape.png"
            alt="Get Body in shape, Stay healsy"
            width="282"
            height="162"
          />
        </li>
        <li class="covers__inner">
          <img
            class="covers__line"
            src="../img/covers/covers-freshharvest.png"
            alt="Fresh harvest box is your one-stop place for a delicious fruit basket"
            width="282"
            height="162"
          />
        </li>
        <li class="covers__inner">
          <img
            class="covers__line"
            src="../img/covers/covers-english.png"
            alt="Discover the joy of learning English with us!"
            width="282"
            height="162"
          />
        </li>
      </ul>
    </div>
  </div>
</section>
