<section class="covers">
  <div class="container covers-container">
    <h2 class="visually-hidden covers-name">Covers</h2>
    <div class="covers-content">
      <div class="covers-marquee">
        <ul id="covers-list">
          <li class="covers-marquee-inner">
            <div class="covers-inner">
              <img
                class="covers-line"
                src="./img/covers/covers-english-1.png"
                alt="Discover the joy of learning English with us!"
                width="282"
                height="162"
              />
              <img
                class="covers-line"
                src="./img/covers/covers-nature-1.png"
                alt="a brand that is inspired by forms creates by nature."
                width="282"
                height="162"
              />
              <img
                class="covers-line"
                src="./img/covers/covers-ukraine-1.png"
                alt="Reviving the traditional Ukrainian artistry in every stitch"
                width="282"
                height="162"
              />
              <img
                class="covers-line"
                src="./img/covers/cover-powerpulse-1.png"
                alt="Transforming your body shape with Power Pulse"
                width="282"
                height="162"
              />
              <img
                class="covers-line"
                src="./img/covers/covers-mimino-1.png"
                alt="Mimino"
                width="282"
                height="162"
              />
              <img
                class="covers-line"
                src="./img/covers/covers-finance-1.png"
                alt="Manage Your Finances Masterfully!"
                width="282"
                height="162"
              />
              <img
                class="covers-line"
                src="./img/covers/covers-buisness-1.png"
                alt="Turn your business into an online leader"
                width="282"
                height="162"
              />
              <img
                class="covers-line"
                src="./img/covers/covers-organic-1.png"
                alt="Organic vegetables to your diet today!"
                width="282"
                height="162"
              />
              <img
                class="covers-line"
                src="./img/covers/covers-bodyshape-1.png"
                alt="Get Body in shape, Stay healthy"
                width="282"
                height="162"
              />
              <img
                class="covers-line"
                src="./img/covers/covers-fresh-1.png"
                alt="Fresh harvest box is your one-stop place for a delicious fruit basket"
                width="282"
                height="162"
              />
            </div>
          </li>
          <li class="covers-marquee-inner">
            <div class="covers-inner">
              <img
                class="covers-line"
                src="./img/covers/covers-english-1.png"
                alt="Discover the joy of learning English with us!"
                width="282"
                height="162"
              />
              <img
                class="covers-line"
                src="./img/covers/cover-powerpulse-1.png"
                alt="Transforming your body shape with Power Pulse"
                width="282"
                height="162"
              />
              <img
                class="covers-line"
                src="./img/covers/covers-mimino-1.png"
                alt="Mimino"
                width="282"
                height="162"
              />
              <img
                class="covers-line"
                src="./img/covers/covers-finance-1.png"
                alt="Manage Your Finances Masterfully!"
                width="282"
                height="162"
              />
              <img
                class="covers-line"
                src="./img/covers/covers-buisness-1.png"
                alt="Turn your business into an online leader"
                width="282"
                height="162"
              />
              <img
                class="covers-line"
                src="./img/covers/covers-ukraine-1.png"
                alt="Reviving the traditional Ukrainian artistry in every stitch"
                width="282"
                height="162"
              />
              <img
                class="covers-line"
                src="./img/covers/covers-organic-1.png"
                alt="Organic vegetables to your diet today!"
                width="282"
                height="162"
              />
              <img
                class="covers-line"
                src="./img/covers/covers-bodyshape-1.png"
                alt="Get Body in shape, Stay healthy"
                width="282"
                height="162"
              />
              <img
                class="covers-line"
                src="./img/covers/covers-fresh-1.png"
                alt="Fresh harvest box is your one-stop place for a delicious fruit basket"
                width="282"
                height="162"
              />
              <img
                class="covers-line"
                src="./img/covers/covers-nature-1.png"
                alt="a brand that is inspired by forms creates by nature."
                width="282"
                height="162"
              />
            </div>
          </li>
          <li class="covers-marquee-inner">
            <div class="covers-inner">
              <img
                class="covers-line"
                src="./img/covers/covers-finance-1.png"
                alt="Manage Your Finances Masterfully!"
                width="282"
                height="162"
              />
              <img
                class="covers-line"
                src="./img/covers/covers-buisness-1.png"
                alt="Turn your business into an online leader"
                width="282"
                height="162"
              />
              <img
                class="covers-line"
                src="./img/covers/covers-ukraine-1.png"
                alt="Reviving the traditional Ukrainian artistry in every stitch"
                width="282"
                height="162"
              />
              <img
                class="covers-line"
                src="./img/covers/covers-organic-1.png"
                alt="Organic vegetables to your diet today!"
                width="282"
                height="162"
              />
              <img
                class="covers-line"
                src="./img/covers/covers-bodyshape-1.png"
                alt="Get Body in shape, Stay healthy"
                width="282"
                height="162"
              />
              <img
                class="covers-line"
                src="./img/covers/covers-fresh-1.png"
                alt="Fresh harvest box is your one-stop place for a delicious fruit basket"
                width="282"
                height="162"
              />
              <img
                class="covers-line"
                src="./img/covers/covers-english-1.png"
                alt="Discover the joy of learning English with us!"
                width="282"
                height="162"
              />
            </div>
          </li>
          <li class="covers-marquee-inner">
            <div class="covers-inner">
              <img
                class="covers-line"
                src="./img/covers/covers-organic-1.png"
                alt="Organic vegetables to your diet today!"
                width="282"
                height="162"
              />
              <img
                class="covers-line"
                src="./img/covers/covers-bodyshape-1.png"
                alt="Get Body in shape, Stay healthy"
                width="282"
                height="162"
              />
              <img
                class="covers-line"
                src="./img/covers/covers-fresh-1.png"
                alt="Fresh harvest box is your one-stop place for a delicious fruit basket"
                width="282"
                height="162"
              />
              <img
                class="covers-line"
                src="./img/covers/covers-english-1.png"
                alt="Discover the joy of learning English with us!"
                width="282"
                height="162"
              />
              <img
                class="covers-line"
                src="./img/covers/covers-nature-1.png"
                alt="a brand that is inspired by forms creates by nature."
                width="282"
                height="162"
              />
              <img
                class="covers-line"
                src="./img/covers/cover-powerpulse-1.png"
                alt="Transforming your body shape with Power Pulse"
                width="282"
                height="162"
              />
              <img
                class="covers-line"
                src="./img/covers/covers-mimino-1.png"
                alt="Mimino"
                width="282"
                height="162"
              />
              <img
                class="covers-line"
                src="./img/covers/covers-nature-1.png"
                alt="a brand that is inspired by forms creates by nature."
                width="282"
                height="162"
              />
              <img
                class="covers-line"
                src="./img/covers/cover-powerpulse-1.png"
                alt="Transforming your body shape with Power Pulse"
                width="282"
                height="162"
              />
              <img
                class="covers-line"
                src="./img/covers/covers-mimino-1.png"
                alt="Mimino"
                width="282"
                height="162"
              />
              <img
                class="covers-line"
                src="./img/covers/covers-finance-1.png"
                alt="Manage Your Finances Masterfully!"
                width="282"
                height="162"
              />
              <img
                class="covers-line"
                src="./img/covers/covers-buisness-1.png"
                alt="Turn your business into an online leader"
                width="282"
                height="162"
              />
              <img
                class="covers-line"
                src="./img/covers/covers-ukraine-1.png"
                alt="Reviving the traditional Ukrainian artistry in every stitch"
                width="282"
                height="162"
              />
            </div>
          </li>
          <li class="covers-marquee-inner">
            <div class="covers-inner">
              <img
                class="covers-line"
                src="./img/covers/covers-english-1.png"
                alt="Discover the joy of learning English with us!"
                width="282"
                height="162"
              />
              <img
                class="covers-line"
                src="./img/covers/covers-nature-1.png"
                alt="a brand that is inspired by forms creates by nature."
                width="282"
                height="162"
              />
              <img
                class="covers-line"
                src="./img/covers/cover-powerpulse-1.png"
                alt="Transforming your body shape with Power Pulse"
                width="282"
                height="162"
              />
              <img
                class="covers-line"
                src="./img/covers/covers-mimino-1.png"
                alt="Mimino"
                width="282"
                height="162"
              />
              <img
                class="covers-line"
                src="./img/covers/covers-finance-1.png"
                alt="Manage Your Finances Masterfully!"
                width="282"
                height="162"
              />
              <img
                class="covers-line"
                src="./img/covers/covers-buisness-1.png"
                alt="Turn your business into an online leader"
                width="282"
                height="162"
              />
              <img
                class="covers-line"
                src="./img/covers/covers-ukraine-1.png"
                alt="Reviving the traditional Ukrainian artistry in every stitch"
                width="282"
                height="162"
              />
              <img
                class="covers-line"
                src="./img/covers/covers-organic-1.png"
                alt="Organic vegetables to your diet today!"
                width="282"
                height="162"
              />
              <img
                class="covers-line"
                src="./img/covers/covers-bodyshape-1.png"
                alt="Get Body in shape, Stay healthy"
                width="282"
                height="162"
              />
              <img
                class="covers-line"
                src="./img/covers/covers-fresh-1.png"
                alt="Fresh harvest box is your one-stop place for a delicious fruit basket"
                width="282"
                height="162"
              />
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
