<section class="covers">
  <div class="container">
    <h2 class="visually-hidden covers-name">Covers</h2>
    <ul id="covers-list">
      <div class="content">
        <div class="marquee">
          <div class="marquee__inner">
            <img class="marquee__line"
            src="../img/covers/covers-bodytransforming.png"
            alt="body transforming"
            width="282"
            height="162"></img>
            <p class="marquee__line">Project 2</p>
            
            <p class="marquee__line">Project 8</p>
          </div>
          <div class="marquee__inner">
            <img class="marquee__line"
            src="../img/covers/covers-bodytransforming.png"
            alt="body transforming"
            width="282"
            height="162"></img>
            <p class="marquee__line">Project 8</p>
          </div>
          <div class="marquee__inner">
            <img class="marquee__line"
            src="../img/covers/covers-bodytransforming.png"
            alt="body transforming"
            width="282"
            height="162"></img>
           >
            <p class="marquee__line">Project 8</p>
          </div>
        </div>
      </div>
    </ul>
  </div>
</section>
