<section class="faq">
  <div class="container">
    <h3 class="faq-header-main" id="faq">FAQ</h3>

    <ul class="faq-container-list">
      <li class="faq-list">
        <h2 class="faq-header">
          What programming languages are most often used in your project?

          <button class="faq-btn-up hidden" type="button">
            <svg class="faq-arrow-up" width="20" height="20">
              <use href="./img/svg/icons.svg#icon-keyboard_arrow_up"></use>
            </svg>
          </button>

          <button class="faq-btn-down" type="button">
            <svg class="faq-arrow-down" width="20" height="20">
              <use href="./img/svg/icons.svg#icon-keyboard_arrow_down"></use>
            </svg>
          </button>
        </h2>

        <div class="faq-panel hidden">
          <p class="faq-text">
            In the field of web development, there are various technologies and
            programming languages. Typically, this includes a combination of
            frontend (client side) and backend (server side) languages.
          </p>
        </div>
      </li>

      <li class="faq-list">
        <h2 class="faq-header">
          How can I contact you?

          <button class="faq-btn-up hidden" type="button">
            <svg class="faq-arrow-up" width="20" height="20">
              <use href="./img/svg/icons.svg#icon-keyboard_arrow_up"></use>
            </svg>
          </button>

          <button class="faq-btn-down" type="button">
            <svg class="faq-arrow-down" width="20" height="20">
              <use href="./img/svg/icons.svg#icon-keyboard_arrow_down"></use>
            </svg>
          </button>
        </h2>

        <div class="faq-panel hidden">
          <p class="faq-text">
            In the field of web development, there are various technologies and
            programming languages. Typically, this includes a combination of
            frontend (client side) and backend (server side) languages.
          </p>
        </div>
      </li>

      <li class="faq-list">
        <h2 class="faq-header">
          What are the deadlines for the project?

          <button class="faq-btn-up hidden" type="button">
            <svg class="faq-arrow-up" width="20" height="20">
              <use href="./img/svg/icons.svg#icon-keyboard_arrow_up"></use>
            </svg>
          </button>

          <button class="faq-btn-down" type="button">
            <svg class="faq-arrow-down" width="20" height="20">
              <use href="./img/svg/icons.svg#icon-keyboard_arrow_down"></use>
            </svg>
          </button>
        </h2>

        <div class="faq-panel hidden">
          <p class="faq-text">
            The terms of project implementation depend to a large extent on a
            number of factors, such as the scope of the project, its complexity,
            and the availability of resources. Determining exact deadlines is a
            difficult task, and it usually occurs during the planning phase of
            the project.
          </p>
        </div>
      </li>

      <li class="faq-list">
        <h2 class="faq-header">
          Do you provide advice or support?

          <button class="faq-btn-up hidden" type="button">
            <svg class="faq-arrow-up" width="20" height="20">
              <use href="./img/svg/icons.svg#icon-keyboard_arrow_up"></use>
            </svg>
          </button>

          <button class="faq-btn-down" type="button">
            <svg class="faq-arrow-down" width="20" height="20">
              <use href="./img/svg/icons.svg#icon-keyboard_arrow_down"></use>
            </svg>
          </button>
        </h2>

        <div class="faq-panel hidden">
          <p class="faq-text">
            The terms of project implementation depend to a large extent on a
            number of factors, such as the scope of the project, its complexity,
            and the availability of resources. Determining exact deadlines is a
            difficult task, and it usually occurs during the planning phase of
            the project.
          </p>
        </div>
      </li>

      <li class="faq-list">
        <h2 class="faq-header">
          What payment methods do you accept?

          <button class="faq-btn-up hidden" type="button">
            <svg class="faq-arrow-up" width="20" height="20">
              <use href="./img/svg/icons.svg#icon-keyboard_arrow_up"></use>
            </svg>
          </button>

          <button class="faq-btn-down" type="button">
            <svg class="faq-arrow-down" width="20" height="20">
              <use href="./img/svg/icons.svg#icon-keyboard_arrow_down"></use>
            </svg>
          </button>
        </h2>

        <div class="faq-panel hidden">
          <p class="faq-text">
            Payment through credit and debit cards such as Visa, MasterCard,
            specialized electronic payment systems such as PayPal, as well as
            payments in cryptocurrencies such as Bitcoin, Ethereum and others.
          </p>
        </div>
      </li>

      <li class="faq-list">
        <h2 class="faq-header">
          What does the process of developing a software<br />
          product look like from idea to implementation?

          <button class="faq-btn-up hidden" type="button">
            <svg class="faq-arrow-up" width="20" height="20">
              <use href="./img/svg/icons.svg#icon-keyboard_arrow_up"></use>
            </svg>
          </button>

          <button class="faq-btn-down" type="button">
            <svg class="faq-arrow-down" width="20" height="20">
              <use href="./img/svg/icons.svg#icon-keyboard_arrow_down"></use>
            </svg>
          </button>
        </h2>

        <div class="faq-panel hidden">
          <p class="faq-text">
            Payment through credit and debit cards such as Visa, MasterCard,
            specialized electronic payment systems such as PayPal, as well as
            payments in cryptocurrencies such as Bitcoin, Ethereum and others.
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
