<section class="faq section">
  <div class="container">
    <h3 class="faq-header-main" id="faq">FAQ</h3>

    <ul class="faq-container-list accordion-container">
      <li class="faq-list ac">
        <h2 class="faq-header ac-header">
          What programming languages are most often used in your project?
          <load src="partials/btn-arrow-read-more.html"/>
        </h2>
        <div class="faq-panel ac-panel" id="collapsePanel2">
          <p class="faq-text ac-text">
            In the field of web development, there are various technologies and
            programming languages. Typically, this includes a combination of
            frontend (client side) and backend (server side) languages.
          </p>
        </div>
      </li>

      <li class="faq-list ac">
        <h2 class="faq-header ac-header">
          How can I contact you?
          <load src="partials/btn-arrow-read-more.html"/>
        </h2>
        <div class="faq-panel ac-panel">
          <p class="faq-text ac-text">
            In the field of web development, there are various technologies and
            programming languages. Typically, this includes a combination of
            frontend (client side) and backend (server side) languages.
          </p>
        </div>
      </li>

      <li class="faq-list ac">
        <h2 class="faq-header ac-header">
          What are the deadlines for the project?
          <load src="partials/btn-arrow-read-more.html"/>
        </h2>
        <div class="faq-panel ac-panel">
          <p class="faq-text ac-text">
            The terms of project implementation depend to a large extent on a
            number of factors, such as the scope of the project, its complexity,
            and the availability of resources. Determining exact deadlines is a
            difficult task, and it usually occurs during the planning phase of
            the project.
          </p>
        </div>
      </li>

      <li class="faq-list ac">
        <h2 class="faq-header ac-header">
          Do you provide advice or support?
          <load src="partials/btn-arrow-read-more.html"/>
        </h2>
        <div class="faq-panel ac-panel">
          <p class="faq-text ac-text">
            The terms of project implementation depend to a large extent on a
            number of factors, such as the scope of the project, its complexity,
            and the availability of resources. Determining exact deadlines is a
            difficult task, and it usually occurs during the planning phase of
            the project.
          </p>
        </div>
      </li>

      <li class="faq-list ac">
        <h2 class="faq-header ac-header">
          What payment methods do you accept?
          <load src="partials/btn-arrow-read-more.html"/>
        </h2>
        <div class="faq-panel ac-panel">
          <p class="faq-text ac-text">
            Payment through credit and debit cards such as Visa, MasterCard,
            specialized electronic payment systems such as PayPal, as well as
            payments in cryptocurrencies such as Bitcoin, Ethereum and others.
          </p>
        </div>
      </li>

      <li class="faq-list ac">
        <h2 class="faq-header ac-header">
          What does the process of developing a software<br/>
          product look like from idea to implementation?
          <load src="partials/btn-arrow-read-more.html"/>
        </h2>
        <div class="faq-panel ac-panel">
          <p class="faq-text ac-text">
            Payment through credit and debit cards such as Visa, MasterCard,
            specialized electronic payment systems such as PayPal, as well as
            payments in cryptocurrencies such as Bitcoin, Ethereum and others.
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
