<section class="faq container">
<h3 class="faq-header">FAQ</h3>

<ul class="ac-container">
    <li class="ac">
        <h2 class="ac-header">What programming languages ​​are most often used in your project?

        <button class="ac-btn-up hidden" type="button">
            <svg class="ac-arrow-up hidden"  width="20" height="20">
                <use href="../img/svg/icons.svg#icon-keyboard_arrow_up"></use>
            </svg>
        </button>
               
        <button class="ac-btn-down" type="button">
            <svg class="ac-arrow-down"  width="20" height="20">
                <use href="../img/svg/icons.svg#icon-keyboard_arrow_down"></use>
            </svg>
        </button>
        
        </h2>

         <div class="ac-panel">
        <p class="ac-text">In the field of web development, there are various technologies and programming languages. Typically, this includes a combination of frontend (client side) and backend (server side) languages.</p>
        </div>      
    </li>

    <li class="ac">
        <h2 class="ac-header">How can I contact you?

        <button class="ac-btn-up hidden" type="button">
            <svg class="ac-arrow-up"  width="20" height="20">
                <use href="../img/svg/icons.svg#icon-keyboard_arrow_up"></use>
            </svg>
        </button>
    
        <button class="ac-btn-down" type="button">
            <svg class="ac-arrow-down"  width="20" height="20">
                <use href="../img/svg/icons.svg#icon-keyboard_arrow_down"></use>
            </svg>
        </button>

        </h2>

        <div class="ac-panel">
        <p class="ac-text">In the field of web development, there are various technologies and programming languages. Typically, this includes a combination of frontend (client side) and backend (server side) languages.</p>
        </div>
    </li>

    <li class="ac">
        <h2 class="ac-header">What are the deadlines for the project?

        <button class="ac-btn-up hidden" type="button">
            <svg class="ac-arrow-up"  width="20" height="20">
                <use href="../img/svg/icons.svg#icon-keyboard_arrow_up"></use>
            </svg>
        </button>
    
        <button class="ac-btn-down" type="button">
            <svg class="ac-arrow-down"  width="20" height="20">
                <use href="../img/svg/icons.svg#icon-keyboard_arrow_down"></use>
            </svg>
        </button>

         </h2>

         <div class="ac-panel">
        <p class="ac-text">The terms of project implementation depend to a large extent on a number of factors, such as the scope of the project, its complexity, and the availability of resources. Determining exact deadlines is a difficult task, and it usually occurs during the planning phase of the project.</p>
         </div>
    </li>

    <li class="ac">
        <h2 class="ac-header">Do you provide advice or support?

        <button class="ac-btn-up hidden" type="button">
            <svg class="ac-arrow-up"  width="20" height="20">
                <use href="../img/svg/icons.svg#icon-keyboard_arrow_up"></use>
            </svg>
        </button>
        
        <button class="ac-btn-down" type="button">
            <svg class="ac-arrow-down"  width="20" height="20">
                <use href="../img/svg/icons.svg#icon-keyboard_arrow_down"></use>
            </svg>
        </button>

        </h2>

        <div class="ac-panel">
        <p class="ac-text">The terms of project implementation depend to a large extent on a number of factors, such as the scope of the project, its complexity, and the availability of resources. Determining exact deadlines is a difficult task, and it usually occurs during the planning phase of the project.</p>
        </div>      
    </li>

    <li class="ac">
        <h2 class="ac-header">What payment methods do you accept?

        <button class="ac-btn-up hidden" type="button">
            <svg class="ac-arrow-up"  width="20" height="20">
                <use href="../img/svg/icons.svg#icon-keyboard_arrow_up"></use>
            </svg>
        </button>
    
        <button class="ac-btn-down" type="button">
            <svg class="ac-arrow-down"  width="20" height="20">
                <use href="../img/svg/icons.svg#icon-keyboard_arrow_down"></use>
            </svg>
        </button>
         </h2>

        <div class="ac-panel">
        <p class="ac-text">Payment through credit and debit cards such as Visa, MasterCard, specialized electronic payment systems such as PayPal, as well as payments in cryptocurrencies such as Bitcoin, Ethereum and others.</p>
        </div>
    </li>

    <li class="ac">
        <h2 class="ac-header">What does the process of developing a software<br> product look like from idea to implementation?

        <button class="ac-btn-up hidden" type="button">
            <svg class="ac-arrow-up hidden"  width="20" height="20">
                <use href="../img/svg/icons.svg#icon-keyboard_arrow_up"></use>
            </svg>
        </button>
    
        <button class="ac-btn-down" type="button">
            <svg class="ac-arrow-down"  width="20" height="20">
                <use href="../img/svg/icons.svg#icon-keyboard_arrow_down"></use>
            </svg>
        </button>

         </h2>

        <div class="ac-panel">
        <p class="ac-text">Payment through credit and debit cards such as Visa, MasterCard, specialized electronic payment systems such as PayPal, as well as payments in cryptocurrencies such as Bitcoin, Ethereum and others.</p>
    </div>
    </li>
</ul>
</section>
