<header class="header container">
  <div class="header-left">
    <picture>
      <source
        srcset="/img/header/image1x.png 1x, ./img/header/image2x.png 2x"
      />
      <img
        class="img-header"
        src="/img/header/image.png"
        alt="Photo_Jefferson"
        width="80"
        height="80"
      />
    </picture>
    <svg class="icon-header-logo" width="84px" height="19px">
      <use href="/img/svg/icons.svg#icon-jefferson"></use>
    </svg>
  </div>
  <div class="header-right">
    <svg class="header-icon-burger" width="28px" height="28px">
      <use href="/img/svg/burger.svg#icon-burger"></use>
    </svg>
  </div>
  <div class="menu-center">
    <p class="menu-center-open">Menu</p>
    <ul class="menu-center-list">
      <li class="menu-center-item">
        <a href="#about-us">About me</a>
      </li>
      <li class="menu-center-item">
        <a href="#benefits">Benefits</a>
      </li>
      <li class="menu-center-item">
        <a href="#projects">Projects</a>
      </li>
      <li class="menu-center-item">
        <a href="#faq">FAQ</a>
      </li>
    </ul>
  </div>
  <a class="btn-menu-tablet" href="#footer-form"> Order the project </a>
</header>
<div class="modal-header">
  <div class="header-menu">
    <button
      class="modal-btn-close"
      id="close-btn"
      type="button"
      aria-label="close modal window"
    >
      <svg class="menu-icon-close" width="28px" height="28px">
        <use href="/img/svg/icons.svg#icon-close"></use>
      </svg>
    </button>
    <ul class="menu-list">
      <li class="menu-item">
        <a href="#about-us">About me</a>
      </li>
      <li class="menu-item">
        <a href="#benefits">Benefits</a>
      </li>
      <li class="menu-item">
        <a href="#projects">Projects</a>
      </li>
      <li class="menu-item">
        <a href="#faq">FAQ</a>
      </li>
    </ul>
    <a class="btn-menu" href="#footer-form">Order the project</a>
  </div>
</div>
