<section class="hero-section hero-bg" id="hero-section">
  <div class=" container">
    <div class="hero-cont">
      <h1 class="hero-title">
        Hello. <br/>
        I&prime; m fullstack developer Lloyd Jefferson.
      </h1>

      <div class="hero-nav">
        <ul class="ul-hero">
          <li>
            <a
              class="soc-networks-items instagram-link"
              href="https://www.instagram.com/goitclub/"
              target="_blank"
            >IG</a
            >
          </li>
          <li>
            <a
              class="soc-networks-items facebook-link"
              href="https://www.facebook.com/goITclub/"
              target="_blank"
            >FB</a
            >
          </li>
          <li>
            <a
              class="soc-networks-items youtube-link"
              href="https://www.youtube.com/c/GoIT"
              target="_blank"
            >YT</a
            >
          </li>
          <li>
            <a
              class="soc-networks-items git-hub"
              href="https://github.com/Levando21/lloyd-jefferson-"
              target="_blank"
            >GH</a
            >
          </li>
          <li>
            <a
              class="soc-networks-items email-link"
              href="mailto:lloydjefferson@gmail.com"
            >lloydjefferson@gmail.com</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
