<section id="projects" class="projects_section">
    <div class="container projects_container">
        <h2 class="projects_title">projects</h2>
        <div class="projects_img_box">
            <div class="swiper projects_box">
                <ul class="swiper-wrapper projects_wrapper">
                    <!-- слайдер -->
                </ul>
            </div>
        </div>
        <!-- если нам нужна кнопка навигации -->
        <div class="projects_btn_box">
            <div class="swiper-button-prev">
                <button class="projects_slider_btn--left inActive" type="button" disabled>
                    <svg width="32px" class="btn_svg">
                        <use href="./img/projects/sprite.svg#icon-arrow-left"></use>
                    </svg>
                </button>
            </div>
            <div class="swiper-button-next">
                <button class="projects_slider_btn--right" type="button">
                    <svg width="32px" class="btn_svg">
                        <use href="./img/projects/sprite.svg#icon-arrow-right"></use>
                    </svg>
                </button>
            </div>
        </div>
    </div>
</section>