<section class="review">
  <div class="reviews-section">
    <p class="reviews-title">REVIEW</p>
  </div>

  <div class="list-start review-list-swiper">
    <ul class="review-list"></ul>
  </div>

  <div class="projects-btn-box">
    <div class="swiper-button-prev">
      <button class="projects-slider-btn--left inActive" type="button" disabled>
        <svg width="32px" class="btn-svg">
          <use href="./img/svg/icons.svg#icon-arrow-left"></use>
        </svg>
      </button>
    </div>
    <div class="swiper-button-next">
      <button class="projects-slider-btn--right" type="button">
        <svg width="32px" class="btn-svg">
          <use href="./img/svg/icons.svg#icon-arrow-right"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
