<footer style="display: none">
  <section class="work-together">
    <div class="footer-title-wrapper">
      <img class="footer-title-img"
           src="../img/work-together/work-together-header-ceo.png"
           alt="user photo"
           width="70"
           height="70"
      >
      <h3 class="footer-title">Let's <span class="footer-title-wrp">work</span> together</h3>
    </div>
    <form class="footer-form"
          id="footer-form"
    >
      <label class="footer-form-label">
        <input class="footer-form-input"
               id="footer-form-input"
               type="email"
               name="email"
               placeholder="client@email.com"
               required
        >
      </label>
      <label class="footer-form-label">
        <textarea class="footer-form-textarea"
                  id="footer-form-textarea"
                  name="comment"
                  placeholder="comment"
                  required
        ></textarea>
      </label>
      <button class="footer-form-btn">Send</button>
    </form>
    <!--todo-->
    <address class="footer-address">
      <ul class="footer-contacts-list">
        <li class="footer-contacts-item">
          <a class="footer-contacts-link"
             href="mailto:lloydjefferson@gmail.com"
          >lloydjefferson@gmail
           .com</a>
        </li>
        <li class="footer-contacts-item">
          <a class="footer-contacts-link"
             href="tel:+3801111111111"
          >+3801111111111</a>
        </li>
      </ul>
    </address>
  </section>
</footer>
