.about-us {
  padding: 32px 0;
}

.aboutus-container-story-descr {
  border-radius: 24px;

  max-width: 100%;
  min-height: 500px;
  background-color: #242527;
  padding: 32px;
  padding-bottom: 0;
  margin-bottom: 16px;
  position: relative;
}
.aboutus-container-story-descr::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 20px;
  box-shadow: 0 0 8px #ed3b44;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.aboutus-container-story-descr:hover::before {
  opacity: 1;
}
.aboutus-container-story-descr:hover .aboutus-accent-red {
  text-shadow: 0 0 5px #ed3b44;
  transition: text-shadow 0.5s ease;
}
.aboutus-story {
  font-family: 'Inter Tight', sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.16667;
  letter-spacing: -0.03em;
  text-transform: uppercase;
}

.aboutus-accent-red {
  color: #ed3b44;
}

.aboutus-accent-gray {
  color: rgba(250, 250, 250, 0.4);
}
.aboutus-photo-box {
  border-radius: 24px;
  max-width: 100%;
  min-height: 500px;
  background-image: url('../img/about-us/about-us-ceo-mobile.png');
  background-size: cover;
  margin-bottom: 12px;
  height: auto;
  object-fit: contain;
  width: 100%;
}

@media (min-resolution: 192dpi) {
  .aboutus-photo-box {
    background-image: url('../img/about-us/about-us-ceo-mobile-retina.png');
  }
}
/*---------------------------------- Accordion --------------------------------*/

.aboutus-accordion {
  display: flex;
  flex-direction: column;
  margin-bottom: 32px;
}

.aboutus-accordion-item {
  border-bottom: 1px solid rgba(250, 250, 250, 0.2);
  position: relative;
  padding-top: 20px;
  padding-bottom: 20px;
}

.aboutus-title-accordion {
  font-size: 16px;
  font-weight: 600;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: rgba(250, 250, 250, 0.4);

  padding-bottom: 24px;
}

.aboutus-accord-btn-up,
.aboutus-accord-btn-down {
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 100px;
  width: 34px;
  height: 34px;
  background-color: transparent;

  cursor: pointer;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  top: 12px;
  right: 0;
}
.aboutus-accord-arrow-up,
.aboutus-accord-arrow-down {
  stroke: #fafafa;
  fill: #fafafa;
}
.aboutus-accord-btn-up:hover,
.aboutus-accord-btn-down:hover {
  background-color: rgba(250, 250, 250, 0.1);
  border-color: rgba(250, 250, 250, 0.5);
}
@keyframes rotateAnimation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.aboutus-accord-btn-up,
.aboutus-accord-btn-down svg {
  transition: transform 0.5s;
}

.aboutus-accord-btn-up:hover,
.aboutus-accord-btn-down:hover svg {
  animation: rotateAnimation 2s infinite;
}
.aboutus-accord-dropdown {
  display: flex;
  flex-direction: column;
  gap: 32px;

  max-height: 650px;

  overflow: hidden;
  transition: max-height 0.5s ease-in-out;
}

.aboutus-dscr-accordion {
  letter-spacing: -0.02em;
}
.aboutus-accordion-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.aboutus-dscr-accordion-item {
  letter-spacing: -0.02em;
}

/*---------------------------------- Swiper --------------------------------*/

.aboutus-skills-circle {
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 100px;
  width: 130px;
  aspect-ratio: 3/3;
  cursor: pointer;
}

.about-us-wrapper-item {
  display: flex;
}
li.swiper-slide {
  display: flex;
}
.aboutus-skills-item {
  font-size: 16px;
  letter-spacing: -0.02em;
}
@media screen and (min-width: 375px) {
  .aboutus-skills-item {
    font-size: 20px;
  }
}

.aboutus-skills-btn {
  background-color: transparent;
  cursor: pointer;
  border: none;
  margin-left: 55px;
}

@keyframes wiggle-right {
  0% {
    transform: translateX(0);
  }

  25% {
    transform: translateX(5px);
  }

  50% {
    transform: translateX(-5px);
  }

  75% {
    transform: translateX(3px);
  }

  100% {
    transform: translateX(0);
  }
}

.aboutus-skills-btn-icon {
  fill: #3b3b3b;
  animation: wiggle-right 1s infinite;
}
.aboutus-container-skills {
  display: flex;
}
/*---------------------------- Adaptive tablet ----------------------------*/

@media screen and (min-width: 768px) {
  .about-us {
    padding: 32px 0 48px 0;
  }
  .aboutus-container-story-descr {
    padding: 64px;
    min-height: 700px;
  }
  .aboutus-story {
    font-size: 38px;
    line-height: 1.05263;
  }

  .aboutus-photo-box {
    min-width: 700px;
    min-height: 700px;
    background-image: url('../img/about-us/about-us-ceo-tablet.png');
  }
  @media (min-resolution: 192dpi) {
    .aboutus-photo-box {
      background-image: url('../img/about-us/about-us-ceo-tablet-ritina.png');
    }
  }
  .aboutus-accordion {
    margin-bottom: 64px;
  }
  .aboutus-accord-dropdown {
    gap: 16px;
  }
  .aboutus-accord-btn-up,
  .aboutus-accord-btn-down {
    top: 8px;
  }
  .aboutus-skills-btn {
    margin-left: 64px;
  }
  .aboutus-skills-btn-icon {
    width: 40px;
    height: 40px;
  }
}
/*---------------------------- Adaptive desktop (1440px)----------------------------*/

@media screen and (min-width: 1440px) {
  .about-us {
    padding: 48px 0 82px 0;
  }
  .aboutus-wrap-story {
    display: flex;

    max-width: 100%;
    gap: 16px;
  }
  .aboutus-container-story-descr {
    min-width: 50%;
  }
  .aboutus-photo-box {
    min-width: 50%;
    min-height: 700px;
    background-image: url('../img/about-us/about-us-ceo-dekstop.png');
  }

  .aboutus-accord-dropdown {
    margin-left: 50%;
    margin-right: 60px;
    gap: 32px;
  }

  .aboutus-dscr-accordion {
    max-width: 612px;
  }
  .aboutus-container-skills {
    margin-left: 32px;
  }
  .aboutus-skills-circle {
    min-width: 200px;
  }
  .aboutus-skills-btn {
    margin-left: 72px;
  }
  .aboutus-skills-btn-icon {
    animation: none;
  }
}
