.about-us {
}

.about-me-cont {
}

.container-story-descr {
  border-radius: 24px;
  min-width: 340px;
  max-width: 100%;
  height: 500px;
  background-color: #242527;
  padding: 32px;
  padding-bottom: 0;
  margin-bottom: 16px;
}

.story {
  font-family: 'Inter Tight', sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.16667;
  letter-spacing: -0.03em;
  text-transform: uppercase;
}

.accent-red {
  color: #ed3b44;
}

.accent-gray {
  color: rgba(250, 250, 250, 0.4);
}
.photo-box {
  border-radius: 24px;
  margin: 0 auto;
  min-width: 340px;
  max-width: 100%;
  height: 500px;
  background: center;
  background-image: url('../img/hero/hero-ceo.png');
  background-size: cover;
  margin-bottom: 12px;
}

.accordion {
  display: flex;
  flex-direction: column;
  margin-bottom: 32px;
}

.accordion-item {
  border-bottom: 1px solid rgba(250, 250, 250, 0.2);
  position: relative;
  padding-top: 20px;
  padding-bottom: 20px;
}

.title-accordion {
  font-size: 16px;
  font-weight: 600;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: rgba(250, 250, 250, 0.4);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 24px;
}
.accord-btn-up,
.accord-btn-down {
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 100px;
  width: 34px;
  height: 34px;
  background-color: transparent;

  cursor: pointer;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  top: 12px;
  right: 0;
}
.accord-arrow-up,
.accord-arrow-down {
  stroke: #fafafa;
  fill: #fafafa;
}
.accord-btn-up:hover,
.accord-btn-down:hover {
  background-color: rgba(250, 250, 250, 0.1);
  border-color: rgba(250, 250, 250, 0.5);
}
.accord-dropdown {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.dscr-accordion {
  font-weight: 500;
  font-size: 16px;
  letter-spacing: -0.02em;
}

.dscr-accordion-item {
  font-weight: 500;
  font-size: 16px;
  letter-spacing: -0.02em;
  padding-bottom: 10px;
}
/*---------------------------------- Swiper --------------------------------*/
.skills-swiper {
  display: flex;
  margin-left: 32px;
  
}
.skills-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 100px;
  width: 200px;
  aspect-ratio:3/3;

  
  
}
.skills-circle:hover{
 background-color: #ed3b44;
}
.skills-list {
  display: flex;
max-width: 100%;
}

.skills-item {
  font-weight: 500;
  font-size: 20px;
  letter-spacing: -0.02em;
    
}

.skills-btn {
  background-color: transparent;
  cursor: pointer;
  border: none;
}

.skills-btn-icon {
  margin-left: 72px;
  fill: #3B3B3B;
}

/*---------------------------- Adaptive tablet ----------------------------*/

@media screen and (min-width: 768px) {
  .container-story {
    padding: 64px;
    height: 700px;
  }
  .story {
    font-size: 38px;
    line-height: 1.05263;
  }

  .photo-box {
    min-width: 700px;
  }
  .accordion {
    margin-bottom: 64px;
  }
  .accord-dropdown {
    gap: 16px;
  }
  .accord-btn-up,
  .accord-btn-down {
    top: 8px;
  }
}
/*---------------------------- Adaptive desktop (1280px)----------------------------*/

@media screen and (min-width: 1280px) {
  .wrap-story {
    display: flex;
    
    max-width: 100%;
    gap: 16px;
    }
  .container-story-descr {
    min-width: 50%;
    height: 700px;
  }
  .photo-box {
    min-width: 50%;
    height: 700px;
  }
  
  .accord-dropdown {
    margin-left: 50%;
    margin-right: 60px;
    gap: 32px;
  }

  .dscr-accordion {
   max-width: 612px;
  }
}
