.bnf-icons{
    fill: #FAFAFA;
}

.bnf-svg-cont{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 64px;
    width: 48px;
    height: 48px;
    border-radius: 10px;
    background-color: #ED3B44;
}

.benefits{
    padding: 32px 0;
}

.bnf-title{
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    margin-bottom: 32px;
    color: rgba(250, 250, 250, 0.4);
}

.bnf-ul{
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 32px;
}

.bnf-btn {
    display: inline-block;
    min-width: 187px;
    height: 55px;
    padding: 15px 36px;
    font-size: 16px;
    letter-spacing: -0.02em;
    border-radius: 60px;
    color: #FAFAFA;
    border: 1px solid rgba(250, 250, 250, 0.2);
}

.bnf-btn:hover {
    border-color: #FAFAFA;
}

.bnf-li{
border-radius: 20px;
padding: 24px;
background-color: #242527;
}

.bnf-text-cont{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.bnf-name{
    font-weight: 600;
    font-size: 20px;
    line-height: 1.5;
    letter-spacing: -0.02em;
}

.bnf-discr{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: -0.02em;
    color: rgba(250, 250, 250, 0.6);
}

@media screen and (min-width: 768px) {
    .benefits {
        padding: 48px 0;
    }

    .bnf-ul {
        flex-direction: row;
        flex-wrap: wrap;
        margin-bottom: 64px;
    }

    .bnf-li {
        width: calc((100% - 16px) / 2);
    }
}

@media screen and (min-width: 1440px) {
    .benefits {
        padding: 82px 0;
    }

    .bnf-cont {
        display: flex;
        justify-content: space-between;
    }

    .bnf-info {
        width: calc((100% - 16px) / 2);
    }
}