.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
.content {
  position: relative;
}
.marquee {
  position: absolute;
  right: -800px;
  left: 0;
  overflow: hidden;
  /* font-family: 'Pridi', sans-serif;
  font-weight: 600;
  font-size: 34px;
  text-transform: uppercase; */
}

.marquee__inner {
  height: 100vh;
  display: flex;
  transform: rotate(16deg);
}

.marquee__line {
  /* background-color: #ffdc00; */
  flex-shrink: 0;
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(100% / 8);
  white-space: nowrap;
  animation-name: marqueeLine;
  animation-duration: 5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

@keyframes marqueeLine {
  from {
    transform: translateX(-20%);
  }

  to {
    transform: translateX(-180%);
  }
}
