.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.covers-content {
  position: relative;
}

.covers-marquee {
  position: absolute;
  right: -800px;
  left: 0px;
  overflow: hidden;
}

.covers-inner {
  display: flex;
  justify-content: center;
  transform: rotate(16deg);
  margin-right: 8px;
  margin-bottom: 8px;
}

.covers-line {
  flex-shrink: 0;
  margin-right: 10px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
}

.animation {
  animation-name: coversLine;
  animation-duration: 5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

@keyframes coversLine {
  from {
    transform: translateX(-20%);
  }

  to {
    transform: translateX(-180%);
  }
}
