/* mobile */
.faq {
  width: 100%;
  padding: 20px 0;
}

.faq-header-main {
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: -0.02em;
  color: rgba(250, 250, 250, 0.4);

  margin-bottom: 32px;
}

.faq-list {
  padding: 20px 0;
  border-top: 1px solid rgba(250, 250, 250, 0.2);
  border-bottom: 1px solid rgba(250, 250, 250, 0.2);
}

.faq-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  font-weight: 600;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  color: var(--main-white);
}

.ac .ac-panel {
  overflow: hidden;
  transition-property: height, visibility;
  transition-timing-function: ease;
}

.ac.js-enabled .ac-panel {
  visibility: hidden;
}

.ac.is-active .ac-panel {
  visibility: visible;
}

.faq-text {
  margin-top: 16px;

  font-weight: 500;
  line-height: 1.5;
  letter-spacing: -0.02em;
  color: rgba(250, 250, 250, 0.6);
}

/* tablet */
@media only screen and (min-width: 768px) {
  .faq {
    padding: 25px 0;
  }

  .faq-list {
    padding: 32px 0;
  }
}

/* desktop */
@media only screen and (min-width: 1440px) {
  .faq-header-main {
    margin-left: 20px;
  }

  .faq {
    padding: 40px 0;
  }

  .faq-list:nth-child(odd) {
    padding-right: 20px;
    border-right: 1px solid rgba(250, 250, 250, 0.2);
  }

  .faq-list:nth-child(even) {
    padding-left: 20px;
  }

  .faq-container-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .faq-list {
    width: calc(50% - 1px);
    margin-right: 1px;
  }
}
