.faq {
  width: 100%;
  padding-right: 0;
  padding-left: 0;
  padding-top: 20px;
  padding-bottom: 20px;
}

@media only screen and (min-width: 768px) {
  .faq {
    padding-top: 25px;
   padding-bottom: 25px;
  }
}

@media only screen and (min-width: 1440px) {
  .faq {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

.faq-header-main {
  font-weight: 600; 
  line-height: 1.5;
  letter-spacing: -0.02em;
  color: rgba(250, 250, 250, 0.4);

  margin-bottom: 32px;
}

@media only screen and (min-width: 1440px) {
  .faq-header-main {
    margin-left: 20px;
  }
}

.faq-list {
  border-top: 1px solid rgba(250, 250, 250, 0.2);
  border-bottom: 1px solid rgba(250, 250, 250, 0.2);
  padding-top: 20px;
  padding-bottom: 20px;
  position: relative;
}

@media only screen and (min-width: 1440px) {
  .faq-list:nth-child(odd) {
    border-right: 1px solid rgba(250, 250, 250, 0.2);
  }
}

@media only screen and (min-width: 768px) {
  .faq-list {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

@media only screen and (min-width: 1440px) {
  .faq-container-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .faq-list {
    width: calc(50% - 1px);
    margin-right: 1px;
    padding-left: 20px;
  }
}

.faq-header {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  color: #fafafa;

  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 32px;
  padding-right: 60px;
}

.faq-btn-down {
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 100px;
  padding: 7px;
  width: 34px;
  height: 34px;
  background-color: transparent;

  cursor: pointer;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  top: 20px;
  right: 0;
  transition: background-color 0.3s, border-color 0.3s, color 0.3s;
}

@media only screen and (min-width: 768px) {
 
  .faq-btn-down {
    padding: 10px;
    width: 40px;
    height: 40px;
    top: 32px;
  }
}

@media only screen and (min-width: 1440px) {
 
  .faq-btn-down {
    right: 15px;
  }
}

.faq-arrow-down {
  stroke: #fafafa;
  fill: #fafafa;
}

.faq-btn-down:hover,
.faq-btn-down:focus {
  background-color: rgba(250, 250, 250, 0.1);
  border-color: rgba(250, 250, 250, 0.5);
  color: #fafafa;
}

.faq-btn-down {
  transition: transform 0.5s ease;
}

.is-active .faq-btn-down {
  transform: rotate(180deg);
}

.faq-btn-close.is-active .faq-btn-down {
  transform: rotate(0deg);
  transition: transform 5s ease;
}

.faq-btn-up:focus,
.faq-btn-down:focus {
  outline: none;
  box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.5);
}

.faq-list.is-active .faq-panel {
  display: block;
}

.ac .ac-panel {
  overflow: hidden;
  transition-property: height,visibility;
  transition-timing-function: ease;
}

.ac.js-enabled .ac-panel {
  visibility: hidden;
}

.ac.is-active .ac-panel {
  visibility: visible;
  transition-duration: 600ms;
}

.faq-text {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: -0.02em;
  color: rgba(250, 250, 250, 0.6);
}

.hidden {
  display: none;
}
