/* Стилі для секції з відгуками */
.reviews-section {
  display: flex;
  color: #FAFAFA66; /* Колір тексту */
}

/* Стилі для заголовка "REVIEW" */
.reviews-title {
  font-weight: 600;
  line-height: 1.5;
  font-size: 16px;
  letter-spacing: -0.02em;
  color: rgba(250, 250, 250, 0.4);
}

/* медіа-запит для встановлення відступів для заголовка "REVIEW" */
@media screen and (min-width: 758px) {
  .reviews-title {
    margin-left: 32px;
  }
}

@media screen and (max-width: 375px) {
  .reviews-title {
    margin-left: 16px;
  }
}

.review-avatar {
  width: 48px;
  height: 48px;
  border-radius: 10px;
  margin-top: 32px;
  margin-bottom: 32px;
}

/* Стилі для списку відгуків */
.review-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
  list-style-type: none;
  gap: 16px;
}

/* Стилі для окремого елементу відгуку */

/* Стилі для окремого елементу відгуку */
.review-item {
  border: 1px solid grey;
  width: 332px;
  height: 302px;
  padding: 16px;
  border-radius: 20px;
  margin-top: 32px;
  box-sizing: border-box;
  margin-right: 16px;
  overflow: hidden;
}

/* Медіа-запити для розмірів екрану */
@media screen and (max-width: 1440px) {
  .review-item {
    width: 344px; /* Фіксована ширина для екранів 1440px і більше */
  }
}

@media screen and (max-width: 758px) {
  .review-item {
    width: 332px; /* Фіксована ширина для екранів від 758px до 1439px */
  }
}

@media screen and (max-width: 320px) {
  .review-item {
    width: 344px; /* Фіксована ширина для екранів від 320px до 758px */
  }
}

/* Стилі для тексту відгуку */
.review-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  color: rgba(250, 250, 250, 0.4);
  margin-top: 16px;
  width: 284px; /* Фіксована ширина */
  height: 158px; /* Висота */
  overflow: hidden; /* Обрізати текст, який виходить за межі */
}

.review-author {
  color: #FAFAFA;
}

/* Стилі для кнопок "Попередній" і "Наступний" */
.projects-btn-box {
  display: flex;
  justify-content: center;
  margin-top: 32px;
}

.swiper-button-prev,
.swiper-button-next {
  width: 68px;
  height: 68px;
  padding: 18px;
  border-radius: 60px;
  border: 1px solid #ccc;
  opacity: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-right: 20px;
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.swiper-button-prev button,
.swiper-button-next button {
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.swiper-button-prev svg,
.swiper-button-next svg {
  width: 32px;
  height: 32px;
  fill: #ffffff;
}

.swiper-wrapper {
  display: flex;
  flex-wrap: nowrap; /* Це забезпечить розміщення всіх елементів в один рядок */
}


/* Стилі для елемента .list-start */
.list-start {
  max-width: 1248px; /* Максимальна ширина для .list-start */
  margin: 0 auto;
}

@media screen and (max-width: 1440px) {
  .review-item {
    width: calc(25% - 16px); /* 4 коментарі при ширині до 1440px */
  }
}

@media screen and (max-width: 768px) {
  .review-item {
    width: calc(50% - 16px); /* 2 коментарі при ширині до 768px */
  }
}

@media screen and (max-width: 375px) {
  .review-item {
    width: calc(100% - 16px); /* 1 коментар при ширині до 375px */
  }
}
