/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/

:root {
  font-family: inherit, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  --main-red: #ed3b44;
  --hover-btn: #e0373f;
  --main-white: #fafafa;
  --backround-black: #1c1d20;
  --cards-black: #242527;
  --arrow-gray: #3b3b3b;

  color: var(--main-white);
  background-color: var(--backround-black);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
}

/*----------------------------Other----------------------------*/
html {
  scroll-behavior: smooth;
  width: 100%;
  height: 100%;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  font-family: 'DM Sans', sans-serif;
  color: #fff;
  width: 100%;
  height: 100%;
}

/*---------------------------- Adaptive mobile ----------------------------*/

.container {
  max-width: 375px;
  min-width: 320px;
  padding: 0 16px;
  margin: 0 auto;
}

@media screen and (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
}
/*---------------------------- Adaptive tablet ----------------------------*/
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 32px;
  }
}

/*---------------------------- Adaptive desktop (1440px)----------------------------*/
@media screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
    padding: 0 32px;
  }
}

/*----------------------------General class----------------------------*/
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
