/* mobile todo */
.work-together {
  position: relative;
  padding: 23px 0;
}

/* footer */
.footer-title-wrapper {
  padding-bottom: 63px;
}

.footer-title {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 8px;

  font-weight: 500;
  font-size: 40px;
  line-height: 100%;
  letter-spacing: -0.03em;
  text-transform: uppercase;
}

.footer-title-img {
  width: 44px;
  height: 44px;
  padding: 10px;
  border-radius: 12px;
}

.footer-title-wrp {
  color: #ed3b44;
}

.footer-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 64px;
}

.footer-form-label {
  width: 343px;
  height: 44px;
}

.footer-form-input,
.footer-form-textarea {
  width: 100%;
  height: 100%;
  border: none;
  border-bottom: 1px solid rgba(250, 250, 250, 0.2);

  color: rgba(250, 250, 250, 0.6);
  background-color: inherit;
}

.footer-form-btn {
  width: 100px;
  height: 100px;
  margin-top: 16px;
  padding: 40px 32px;
  border-radius: 50%;
  border: none;

  font-weight: 500;
  font-size: 16px;
  letter-spacing: -0.02em;

  color: #fafafa;
  background-color: #ed3b44;
}

.footer-contacts-list {
  display: flex;
  gap: 4px;
}

.footer-contacts-link {
  display: block;
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 60px;
  padding: 10px 12px;

  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.02em;
  color: inherit;
}

/* modal window */
.backdrop {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(15, 15, 16, 0.6);
  z-index: 999;

  pointer-events: none;
  opacity: 0;
  visibility: hidden;
  transition: opacity 200ms ease-in-out, visibility 200ms ease-in-out;
}

.show-modal {
  opacity: 1;
  visibility: visible;
  pointer-events: initial;
}

.modal {
  position: relative;
  padding: 64px 32px;
  border: 1px solid rgba(250, 250, 250, 0.1);
  border-radius: 20px;
  background-color: var(--backround-black);
}

.modal-content {
  width: 279px;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.modal-btn-close {
  position: absolute;
  top: 32px;
  right: 16px;
  width: 22px;
  height: 22px;
  background-color: var(--backround-black);
  border: 0;
}

.modal-btn-icon {
  stroke-width: 2px;
  stroke: #fafafa;
}

.modal-content-title {
  font-size: 20px;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: -0.02em;
  text-align: center;
}

.modal-content-text {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: -0.02em;
  text-align: center;
  color: rgba(250, 250, 250, 0.6);
}

/* tablet  todo*/
@media screen and (min-width: 768px) {
  .work-together {
    padding: 80px 0;
  }

  .footer-title-wrapper {
    width: 542px;
    padding-bottom: 18px;
  }

  .footer-title {
    gap: 20px;
    font-size: 64px;
    line-height: 100%;
    letter-spacing: -0.03em;
  }

  .footer-title-img {
    border-radius: 24px;
    width: 70px;
    height: 70px;
    padding: 0;
  }

  .footer-form {
    flex-direction: row;
    align-items: center;
    gap: 32px;
    margin-bottom: 18px;
  }

  .modal {
    margin: 195px auto;
    padding: 64px 64px;
    width: 492px;
  }

  .modal-content {
    width: 364px;
  }

  .modal-btn-close {
    right: 32px;
    width: 24px;
    height: 24px;
  }
}

/* desktop */
@media screen and (min-width: 1440px) {
}
