/* mobile */
/* footer */
.work-together {
  padding-top: 32px;
  padding-bottom: 32px;

  background: url('../img/work-together/footer-background-color.jpg')
      calc(290px - 100%) top no-repeat,
    var(--backround-black);
  background-size: cover;
}

.footer-title {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 8px;

  font-weight: 500;
  font-size: 40px;
  line-height: 100%;
  letter-spacing: -0.03em;
  text-transform: uppercase;
}

.footer-title-img {
  width: 44px;
  height: 44px;
  border-radius: 12px;
}

.footer-title-wrp {
  color: var(--main-red);
}

.footer-form {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding-top: 63px;
  padding-bottom: 64px;
}

.form-label-wrap {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.footer-form-label {
  position: relative;
}

.footer-form-input {
  width: 100%;
  height: 44px;
  padding: 0 5px;
  border: none;
  border-bottom: 1px solid rgba(250, 250, 250, 0.2);

  font-weight: 500;
  font-size: inherit;
  line-height: 150%;
  letter-spacing: -0.02em;

  color: rgba(250, 250, 250, 0.6);
  background-color: inherit;
}

.footer-form-input:focus,
.footer-form-input:hover {
  color: var(--main-white);
}

.email-message,
.comment-message {
  position: absolute;

  bottom: -18px;
  left: 0;

  font-weight: 500;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.02em;
}

.isSuccessMessage {
  color: #3cbc81;
}

.isErrorMessage {
  color: #e74a3b;
}

.overflowWrap {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
}

.footer-form-btn {
  width: 100px;
  height: 100px;
  margin-top: 16px;
  padding: 40px 32px;
  border-radius: 50%;
  border: none;

  font-weight: 500;
  font-size: 16px;
  letter-spacing: -0.02em;

  color: var(--main-white);
  background-color: var(--main-red);
}

.footer-form-btn:hover,
.footer-form-btn:focus {
  background-color: var(--hover-btn);
}

.footer-contacts-list {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
}

.footer-contacts-link {
  display: block;
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 60px;
  padding: 10px 12px;

  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.02em;
  color: inherit;
}

.footer-contacts-link:hover,
.footer-contacts-link:focus {
  border-color: var(--main-white);
}

/* modal window */
.backdrop {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(15, 15, 16, 0.6);
  pointer-events: none;
  opacity: 0;
  visibility: hidden;
  transition: opacity 200ms ease-in-out, visibility 200ms ease-in-out;
}

.show-modal {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.modal {
  position: relative;
  padding: 64px 32px;
  width: 343px;
  height: 276px;
  border: 1px solid rgba(250, 250, 250, 0.1);
  border-radius: 20px;
  background-color: var(--backround-black);
  top: 9%;
}

.modal-content {
  min-width: 279px;
  height: 148px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.footer-modal-btn-close {
  position: absolute;
  top: 32px;
  right: 21px;
  width: 22px;
  height: 22px;
  background-color: var(--backround-black);
  border: 0;
}

.modal-btn-icon {
  stroke-width: 2px;
  stroke: #fafafa;
}

.modal-content-title {
  font-size: 19px;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: -0.02em;
  text-align: center;
}

.modal-content-text {
  font-size: 15px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: -0.02em;
  text-align: center;
  color: rgba(250, 250, 250, 0.6);
}

/* tablet */
@media screen and (min-width: 768px) {
  /* work-together */
  .work-together {
    padding-top: 80px;
    padding-bottom: 169px;
  }

  .footer-title-wrapper {
    width: 542px;
  }

  .footer-title {
    gap: 20px;
    font-size: 64px;
    line-height: 100%;
    letter-spacing: -0.03em;
  }

  .footer-title-img {
    border-radius: 24px;
    width: 70px;
    height: 70px;
  }

  .footer-form {
    flex-direction: row;
    align-items: center;
    gap: 32px;
    padding: 18px 0;
  }

  .form-label-wrap {
    flex-direction: row;
    gap: 32px;
  }

  .footer-form-input {
    width: 245px;
  }

  .footer-form-btn {
    width: 150px;
    height: 150px;
    margin-top: 0;
    padding: 65px 57px;
  }

  .footer-contacts-list {
    gap: 8px;
  }

  .footer-contacts-link {
    padding: 18px 32px;

    font-size: 16px;
  }

  /* modal */
  .modal {
    padding: 64px 64px;
    width: 492px;
    height: 246px;
    top: 15%;
  }

  .modal-content {
    width: 364px;
    height: 118px;
  }

  .footer-modal-btn-close {
    right: 32px;
    width: 24px;
    height: 24px;
  }
}

/* desktop */
@media screen and (min-width: 1440px) {
  .footer-form {
    gap: 86px;
  }

  .form-label-wrap {
    gap: 32px;
  }

  .footer-form-input {
    width: 390px;
  }

  .footer-form-btn {
    margin-left: 54px;
  }

  .modal {
    top: 29%;
  }
}
